* {
    font-family: Arial;
    font-size: 12;
    color: white;
    background-color: black;
}

.center {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
